body {
	background-image: url('IMG_0316b.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .8;
}

h1,h2, h2 a	{
	color: blue;
}

h2,h3 {
	background-color: lightgrey;
}	

h1, h3 {
	font-family: Georgia;
	text-align: center;
}

.change-UC 	{
	text-transform: uppercase;
}	

.tabs p {
	display: inline-block;
	text-transform: uppercase;
	line-height: 20px;
	border-bottom: 1px solid white;
}	

p, ul {
	font-family: "Comic Sans MS";
	color: white;
	line-height: 30px;
}


/*.imagestyle1 
	{position: relative; top: 75px; 
	margin: auto;
	{width:50%;}*/


img {
	display: block;
	margin: auto;
	width: 75%;
	opacity: .5;
}

a {
	color: white;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: red;
	text-decoration: underline;
	}


h2 a:visited {
	color: blue;
}

h2 a:hover {
	color: white;
	text-decoration: none;
}


